 /* Carrousel*/
    
 h1 {
    display: flex;
    justify-content: center;
    font-family: $font_family;
}
.carousel-item {

    display: flex;
    flex-wrap: wrap;
}



.card text-bg-dark p-3 {

  
  
 display: flex;
 align-content: flex-end;
 flex-wrap: wrap;


    
}
/* Fin Carrousel*/
