@import "variables";

@import "mixins";



 /* Carrousel*/
    
 h1 {
    display: flex;
    justify-content: center;
    font-family: $font_family;
}
.carousel-item {

    display: flex;
    flex-wrap: wrap;
}




/* Fin Carrousel*/




/* Grilla productos*/
.imagenesdeproductos {
    display: grid;
    grid-template-areas: 
    'img1 img2 img3';
    display: flex;  
    color: black;
    justify-content: center;
    width: 100%;
}

.gridProductos {

    margin: 10px;
    padding: 10px;
}

.nuestrosProductos {

    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: start;

}

.ebikeProducto {

    grid-area: img1;
    width: 100%; 
    @include bordes-img;
}


.monoProducto {
    grid-area: img2;
    width: 100%;
    @include bordes-img;
}

.monopatinProducto {

    grid-area: img3;
    width: 100%;
    @include bordes-img;
}


.txcarrousel {

    margin: 10px;
    padding: 10px;

}




/* Fin grilla productos*/
