@import "variables";

/* Grilla productos*/

.gridProductos {

    
    display: grid;
    width: 100%;
    grid-template-areas: 
    'txp1 txp2 txp3'
    'img1 img2 img3';

}

.gridProductos a {

display: flex;
text-decoration: none;
color: black;
justify-content: center;


}



.ebikeProducto {

    grid-area: img1;
    width: 100%;
    border: $borderproduinicial;
    border-radius: 15px;
    
}


.monoProducto {
    grid-area: img2;
    width: 100%;
    border: $borderproduinicial;
    border-radius: 15px;
}

.monopatinProducto {

    grid-area: img3;
    width: 100%;
    border: $borderproduinicial;
    border-radius: 15px;
    
}




.textProductos1 {

    grid-area: txp1;
   
    
}

.textProductos2 {

    grid-area: txp2;
   
    
}

.textProductos3 {

    grid-area: txp3;
   
    
}



/* Fin grilla productos*/
