@import "mixins";

.lista-productos {
   
   width: 100%;
  
}

.producto {

margin: 5%;
    
}

.img-producto {
    width: 100%;
    max-width: 900px;
}

















/*


.productos {

    display: flex;
   
   justify-content: center;
@include bordes-img;
}




*/

