/* Reseteo el selectro universal*/
*{margin: 0; padding: 0;}

/* Header*/
@import "header";
    
@import "paginicio";

@import "variables";

@import "contacto";

@import "mixins";

 


    
    
    /* Footer*/
    /* Footer*/
    footer {
        display: flex;
        text-align: end;
        justify-content: center;
        text-decoration: underline;
    }
    /* Fin footer*/
    