/* Reseteo el selectro universal*/
*{margin: 0; padding: 0;}

/* Header*/
@import "header";
    
@import "carrousel";
    
@import "productosinicial";

@import "variables";

 
.contacto{

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
    


    
    
    /* Footer*/
    /* Footer*/
    footer {
        display: flex;
        text-align: end;
        justify-content: center;
        text-decoration: underline;
    }
    /* Fin footer*/
    